.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  background-image: linear-gradient(45deg, rgb(239, 241, 242) 0.00%,rgba(146, 223, 255, 0.51) 100.00%);
}
.home-top {
  flex: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: space-between;
}
.home-container1 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text {
  font-size: 28px;
  text-align: center;
}
.home-container2 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  padding: 0px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-image {
  width: 48px;
  object-fit: cover;
}
.home-text01 {
  font-size: 24px;
}
.home-contacts {
  gap: var(--dl-space-space-unit);
  flex: 0;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container3 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-image01 {
  width: 48px;
  object-fit: cover;
}
.home-text02 {
  font-size: 24px;
}
.home-container4 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-image02 {
  width: 48px;
  object-fit: cover;
}
.home-text03 {
  font-size: 24px;
}
.home-container5 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-image03 {
  width: 48px;
  object-fit: cover;
}
.home-text04 {
  font-size: 24px;
}
.home-unit {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-br {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
}
.home-company {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.home-text05 {
  font-size: 30px;
  align-self: center;
}
.home-container6 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: center;
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  justify-content: center;
}
.home-text06 {
  font-size: 30px;
  text-align: right;
}
.home-text07 {
  font-size: 30px;
}
.home-link {
  display: contents;
}
.home-image04 {
  width: var(--dl-size-size-small);
  object-fit: cover;
  border-color: #ffffff;
  border-style: inset;
  border-width: 3px;
  text-decoration: none;
}
.home-projects {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.home-project {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-navlink {
  display: contents;
}
.home-image05 {
  width: var(--dl-size-size-large);
  height: auto;
  object-fit: cover;
  border-color: #ffffff;
  border-style: inset;
  border-width: 3px;
  text-decoration: none;
}
.home-text09 {
  width: 100%;
  height: var(--dl-size-size-small);
  font-size: 24px;
  align-self: center;
  text-align: center;
}
.home-project01 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image06 {
  width: var(--dl-size-size-large);
  height: auto;
  object-fit: cover;
  border-color: #ffffff;
  border-style: inset;
  border-width: 3px;
  text-decoration: none;
}
.home-text10 {
  width: 100%;
  height: var(--dl-size-size-small);
  font-size: 24px;
  align-self: center;
  text-align: center;
}
.home-project02 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image07 {
  width: var(--dl-size-size-large);
  height: auto;
  object-fit: cover;
  border-color: #ffffff;
  border-style: inset;
  border-width: 3px;
  text-decoration: none;
}
.home-text11 {
  width: 100%;
  height: var(--dl-size-size-small);
  font-size: 24px;
  align-self: center;
  text-align: center;
}
.home-project03 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-navlink1 {
  display: contents;
}
.home-image08 {
  width: var(--dl-size-size-large);
  height: auto;
  object-fit: cover;
  border-color: #ffffff;
  border-style: inset;
  border-width: 3px;
  text-decoration: none;
}
.home-text12 {
  width: 100%;
  height: var(--dl-size-size-small);
  font-size: 24px;
  align-self: center;
  text-align: center;
}
.home-unit1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-br1 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
}
.home-company1 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.home-text13 {
  font-size: 30px;
  align-self: center;
}
.home-container7 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: center;
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  justify-content: center;
}
.home-text14 {
  font-size: 30px;
  text-align: right;
}
.home-text15 {
  font-size: 30px;
}
.home-link1 {
  display: contents;
}
.home-image09 {
  width: var(--dl-size-size-small);
  object-fit: cover;
  border-color: #ffffff;
  border-style: inset;
  border-width: 3px;
  text-decoration: none;
}
.home-projects1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.home-project04 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image10 {
  width: var(--dl-size-size-large);
  height: auto;
  object-fit: cover;
  border-color: #ffffff;
  border-style: inset;
  border-width: 3px;
  text-decoration: none;
}
.home-text17 {
  width: 100%;
  height: var(--dl-size-size-small);
  font-size: 24px;
  align-self: center;
  text-align: center;
}
.home-project05 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image11 {
  width: var(--dl-size-size-large);
  height: auto;
  object-fit: cover;
  border-color: #ffffff;
  border-style: inset;
  border-width: 3px;
  text-decoration: none;
}
.home-text20 {
  width: 100%;
  height: var(--dl-size-size-small);
  font-size: 24px;
  align-self: center;
  text-align: center;
}
.home-project06 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image12 {
  width: var(--dl-size-size-large);
  height: auto;
  object-fit: cover;
  border-color: #ffffff;
  border-style: inset;
  border-width: 3px;
  text-decoration: none;
}
.home-text24 {
  width: 100%;
  height: var(--dl-size-size-small);
  font-size: 24px;
  align-self: center;
  text-align: center;
}
.home-project07 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image13 {
  width: var(--dl-size-size-large);
  height: auto;
  object-fit: cover;
  border-color: #ffffff;
  border-style: inset;
  border-width: 3px;
  text-decoration: none;
}
.home-text28 {
  width: 100%;
  height: var(--dl-size-size-small);
  font-size: 24px;
  align-self: center;
  text-align: center;
}
.home-project08 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image14 {
  width: var(--dl-size-size-large);
  height: auto;
  object-fit: cover;
  border-color: #ffffff;
  border-style: inset;
  border-width: 3px;
  text-decoration: none;
}
.home-text32 {
  width: 100%;
  height: var(--dl-size-size-small);
  font-size: 24px;
  align-self: center;
  text-align: center;
}
.home-project09 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image15 {
  width: var(--dl-size-size-large);
  height: auto;
  object-fit: cover;
  border-color: #ffffff;
  border-style: inset;
  border-width: 3px;
  text-decoration: none;
}
.home-text36 {
  width: 100%;
  height: var(--dl-size-size-small);
  font-size: 24px;
  align-self: center;
  text-align: center;
}
.home-unit2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-br2 {
  width: 100%;
  height: auto;
  align-self: center;
  object-fit: cover;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
}
.home-company2 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.home-text41 {
  font-size: 30px;
  align-self: center;
}
.home-container8 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: center;
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  justify-content: center;
}
.home-text42 {
  font-size: 34px;
  text-align: right;
}
.home-text43 {
  font-size: 30px;
}
.home-link2 {
  display: contents;
}
.home-image16 {
  width: var(--dl-size-size-small);
  object-fit: cover;
  border-color: #ffffff;
  border-style: inset;
  border-width: 3px;
  text-decoration: none;
}
.home-projects2 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.home-project10 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image17 {
  width: var(--dl-size-size-large);
  height: auto;
  object-fit: cover;
  border-color: #ffffff;
  border-style: inset;
  border-width: 3px;
  text-decoration: none;
}
.home-text45 {
  width: 100%;
  height: var(--dl-size-size-small);
  font-size: 24px;
  align-self: center;
  text-align: center;
}
.home-project11 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image18 {
  width: var(--dl-size-size-large);
  height: auto;
  object-fit: cover;
  border-color: #ffffff;
  border-style: inset;
  border-width: 3px;
  text-decoration: none;
}
.home-text46 {
  width: 100%;
  height: var(--dl-size-size-small);
  font-size: 24px;
  align-self: center;
  text-align: center;
}
@media(max-width: 320px) {
  .home-top {
    gap: var(--dl-space-space-unit);
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: flex-start;
  }
  .home-text {
    font-size: 16px;
  }
  .home-container2 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-image {
    width: 32px;
  }
  .home-text01 {
    font-size: 16px;
  }
  .home-contacts {
    gap: var(--dl-space-space-unit);
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: flex-start;
  }
  .home-container3 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-image01 {
    width: 32px;
  }
  .home-text02 {
    font-size: 16px;
  }
  .home-container4 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-image02 {
    width: 32px;
  }
  .home-text03 {
    font-size: 16px;
  }
  .home-container5 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-image03 {
    width: 32px;
  }
  .home-text04 {
    font-size: 16px;
  }
  .home-container6 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-text06 {
    font-size: 16px;
  }
  .home-image04 {
    width: 32px;
  }
  .home-project {
    gap: var(--dl-space-space-halfunit);
    flex: 1;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .home-image05 {
    width: var(--dl-size-size-xxlarge);
  }
  .home-project01 {
    gap: var(--dl-space-space-halfunit);
    flex: 1;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .home-image06 {
    width: var(--dl-size-size-xxlarge);
  }
  .home-project02 {
    gap: var(--dl-space-space-halfunit);
    flex: 1;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .home-image07 {
    width: var(--dl-size-size-xxlarge);
  }
  .home-project03 {
    gap: var(--dl-space-space-halfunit);
    flex: 1;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .home-image08 {
    width: var(--dl-size-size-xxlarge);
  }
  .home-container7 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-text14 {
    font-size: 16px;
  }
  .home-image09 {
    width: 32px;
  }
  .home-project04 {
    gap: var(--dl-space-space-halfunit);
    flex: 1;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .home-image10 {
    width: var(--dl-size-size-xxlarge);
  }
  .home-project05 {
    gap: var(--dl-space-space-halfunit);
    flex: 1;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .home-image11 {
    width: var(--dl-size-size-xxlarge);
  }
  .home-project06 {
    gap: var(--dl-space-space-halfunit);
    flex: 1;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .home-image12 {
    width: var(--dl-size-size-xxlarge);
  }
  .home-project07 {
    gap: var(--dl-space-space-halfunit);
    flex: 1;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .home-image13 {
    width: var(--dl-size-size-xxlarge);
  }
  .home-project08 {
    gap: var(--dl-space-space-halfunit);
    flex: 1;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .home-image14 {
    width: var(--dl-size-size-xxlarge);
  }
  .home-project09 {
    gap: var(--dl-space-space-halfunit);
    flex: 1;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .home-image15 {
    width: var(--dl-size-size-xxlarge);
  }
  .home-container8 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-text42 {
    font-size: 16px;
  }
  .home-image16 {
    width: 32px;
  }
  .home-project10 {
    gap: var(--dl-space-space-halfunit);
    flex: 1;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .home-image17 {
    width: var(--dl-size-size-xxlarge);
  }
  .home-project11 {
    gap: var(--dl-space-space-halfunit);
    flex: 1;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .home-image18 {
    width: var(--dl-size-size-xxlarge);
  }
}
